<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : BarbedFlower
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
    <link href="~/Content/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/fonts.css" rel="stylesheet" type="text/css" media="all" />

    <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
    <div id="wrapper">
        <div id="header-wrapper">
            <div id="header" class="container">
                <div id="logo">
                    <h1><a href="#"> New Hope</a></h1>
                </div>
                <div id="menu">
                    <ul>
                        <li class="active"><a href="~/Home/index" accesskey="1" title="">HOME</a></li>
                        <li><a href="~/User/donate" accesskey="2" title="">DONATE BLOOD</a></li>
                        <li><a href="~/User/find" accesskey="3" title="">FIND BLOOD</a></li>
                        <li><a href="~/Home/faq" accesskey="4" title="">Faq</a></li>
                        <li><a href="~/Home/contact" accesskey="5" title="">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="banner">
            <div class="container">
                <div class="title">
                    <h2>Blood Donation Site</h2>
                    <span class="byline">Donate Blood to save lives</span>
                </div>
                <ul class="actions">
                    <li><a href="#" class="button">thanks</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="form">
        <table align="center" height="400">
            <tr><td><h1>Contact:</h1></td></tr>
            <tr><td><h2>Mobile No:&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp     03078119287</h2></td></tr>
            <tr><td><h2>Email: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp        newhope015@gmail.com</h2></td></tr>
            <tr><td><h2>Address: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp      Room no 19 Hazrat Khali Bin Waleed Hall Punjab University Old Campus Lahore</h2></td></tr>
        </table>
    </div>