<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : BarbedFlower
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
    <link href="~/Content/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/fonts.css" rel="stylesheet" type="text/css" media="all" />

    <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
    <div id="wrapper">
        <div id="header-wrapper">
            <div id="header" class="container">
                <div id="logo">
                    <h1><a href="#"> New Hope</a></h1>
                </div>
                <div id="menu">
                    <ul>
                        <li class="active"><a href="~/Home/index" accesskey="1" title="">HOME</a></li>
                        <li><a href="~/User/donate" accesskey="2" title="">DONATE BLOOD</a></li>
                        <li><a href="~/User/find" accesskey="3" title="">FIND BLOOD</a></li>
                        <li><a href="~/Home/faq" accesskey="4" title="">Faq</a></li>
                        <li><a href="~/Home/contact" accesskey="5" title="">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="banner">
            <div class="container">
                <div class="title">
                    <h2>Blood Donation Site</h2>
                    <span class="byline">Donate Blood to save lives</span>
                </div>
                <ul class="actions">
                    <li><a href="#" class="button">thanks</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div id="form">
        <table align="center" height="200">

            <tr> <td><h1><br /><br />Can I donate blood?</h1></td></tr>
            <tr>
                <td>
                    You will probably meet the medical requirements to donate blood if you are:
                    In good health
                </td>
            </tr>
            <tr>
                <td>
                    <li>At least 17 years old
                </td>
            </tr>
            <tr>
                <td>
                    <li>(In some states, 16-year-olds may donate. There is no upper age limit.)
                </td>
            </tr>
            <tr>
                <td>
                    <li>
                        Weigh at least 110 pounds
                </td>
            </tr>
            <td>
                </li>
            <tr>
                <td>
                    <li>
                        Meet any applicable height restriction, if any
                </td>
            </tr>
            </li>
            <tr>
                <td>
                    <li>
                        If there is any doubt or question, check with your local blood center for your country's policy on who can donate.
                </td>
            </tr>
            </li>


            <tr><td><h1><br /><br />What if I am unable to donate</h1></td></tr>
            <tr>
                <td>
                    While you may be unable to donate blood, there are other ways you can help. </h1>
                </td>
            <tr>
                <td> You can help organize a blood drive, build a Club 25 chapter, recruit other suitable donors, or volunteer at fixed sites or mobile blood drives to help make donors.</td></td>



            <tr><td> <h1><br /><br />Where can I donate blood? </h1></td></tr>

            <tr><td>At a "blood center" or "donor center", which are highly regulated by the government in most countries.</td></tr>
            <tr><td>Find your blood center in the phone book or online.</td></tr>
            <tr><td>For example, search under "Your State+Country+Blood Centers" or "Your Country+National Blood Transfusion Service" or "Your Country+Red Cross" etc.</td></tr>
            <tr><td> Check with your blood center for your country's policies and rules.</td></tr>

        </table>
             </div>
    <br /><br />
    </body>
</html>
